<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Form uploud File</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Uploud File</h1>
    <form action="/uploud" method="post" enctype="multipart/form-data">
      <label>Name : <input type="text" name="name" /></label><br />
      <label>File : <input type="file" name="file" /></label><br />
      <input type="submit" value="Uploud" />
    </form>
  </body>
</html>
